<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags <link rel="stylesheet" href="font-awesome-4.7.0\css\font-awesome.css"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome-4.7.0/css/font-awesome.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='date-picker/css/tempus-dominus.css')}}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Tempus Dominus Styles -->
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet"
        crossorigin="anonymous">


    <title>{% block title %} {% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Subreddit Timespan Viewer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    View subreddit posts within a given timespan!!
                </span>
            </div>
        </div>
    </nav>

    {% block body %} {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>

    <!-- Tempus Dominus JavaScript -->
    <!--
    <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js"
        crossorigin="anonymous"></script>
        -->


    <script src="{{url_for('static', filename='date-picker/js/jQuery-provider.js')}}"></script>

    <script src="{{url_for('static', filename='date-picker/js/tempus-dominus.js')}}"></script>
    
    

    <script src="{{url_for('static', filename='datepicker_code.js')}}"></script>
    <script src="{{url_for('static', filename='toggle_helper.js')}}"></script>
    <script src="{{url_for('static', filename='series_search.js')}}"></script>
    <script src="{{url_for('static', filename='drag_drop_functionality.js')}}"></script>



<!--
    <script>

        async function getData(url) {
            const response = await fetch(url);

            return response.json();
        }

        //Setting an onKeyup even on the subredditName textinput so we can query subreddit names based on user input and return top predicted result
        let source = document.getElementById("subredditName");
        console.log(source.name);
        source.onkeyup = getSubreddits;

        async function getSubreddits(e){

            let url_to_use = "http://127.0.0.1:5000/subredditEndpoint?SearchTerm=" + e.target.value;
            console.log(url_to_use);

            //fetch(url_to_use).then(r =>  r.json().then(data => ({status: r.status, body: data}))).then(obj => console.log(obj));

            let subreddits = await getData(url_to_use);

            //fetch(url_to_use).then(response => response.json()).then(data => console.log(data));
            //fetch(url_to_use).then(response => response.json()).then(data => subreddits = data).then(obj => console.log(obj));

            subreddits = Object.keys(subreddits);

            let newHTML = "";

            for(let i=0; i<subreddits.length; i++){
                newHTML += "<option value=\"" + String(subreddits[i]) + "\"></option>";
            }
            
            let options = document.getElementById("subredditNameOptions");
            options.innerHTML = newHTML;
        }

        async function TVShowSearch() {

            let seriesTitle = document.getElementById("seriesTitle").value;
            console.log(seriesTitle);

            let url_to_use = "http://127.0.0.1:5000/searchSeries?SeriesTitle=" + seriesTitle;
            console.log(url_to_use);

            let seriesSearchLoadingDisplay = document.getElementById("seriesSearchLoading");
            seriesSearchLoadingDisplay.style.display = "block";

            let seriesSearchResult = await getData(url_to_use);
            console.log(seriesSearchResult);

            let newHTML = "";
            for(const property in seriesSearchResult){
                console.log("Title: "  + property + " ID: " + seriesSearchResult[property])
            }

            let count = 1;
            for(const property in seriesSearchResult){
                newHTML += "<li class=\"list-group-item\"  name=\""+seriesSearchResult[property]+"\" onclick=\"SeriesEpisodeInfoSearch(this)\">(" + count + ") " + property + "</li>";
                count = count+1;
            }

            seriesSearchLoadingDisplay.style.display = "none";

            let searchResults = document.getElementById("seriesSearchResult");
            searchResults.style.display = "block";

            let options = document.getElementById("seriesSearchResultList");
            options.innerHTML = newHTML;


        }

        async function SeriesEpisodeInfoSearch(e){
            console.log("In Series Episode Info Search");
            console.log(e.getAttribute("name"));

            //hide the series name search results
            let searchResults = document.getElementById("seriesSearchResult");
            searchResults.style.display = "none";

            //show spinner
            let seriesSearchLoadingDisplay = document.getElementById("seriesSearchLoading");
            seriesSearchLoadingDisplay.style.display = "block";


            let series_ID = e.getAttribute("name");
            //console.log(series_ID);
            let url_to_use = "http://127.0.0.1:5000/episodeInfoSearch?SeriesID=" + series_ID;
            let episodeInfoSearchResult = await getData(url_to_use);

            console.log(episodeInfoSearchResult);

            let total_seasons = episodeInfoSearchResult["totalSeasons"];

            let all_episodes = episodeInfoSearchResult["seriesEpisodes"];

            console.log(total_seasons);
            console.log(all_episodes);


            let newHTML = "<p>Showing Seasons and Episodes for chosen series:</p>";
            newHTML+= "<ul class=\"nav nav-tabs\" id=\"myTab\" role=\"tablist\">";

            for(let i=1; i<=total_seasons; i++){
                let current_season = "season" + String(i);
                newHTML+='<li class="nav-item" role="presentation">';
                newHTML+='<button class="nav-link" id="'+current_season+'-tab" data-bs-toggle="tab" data-bs-target="#'+current_season+'" type="button" role="tab" aria-controls="'+current_season+'" aria-selected="true"> Season ' + String(i) + '</button>'
                newHTML+="</li>";
            }
            newHTML+="</ul>";


            newHTML+='<div class="tab-content" id="myTabContent">';
            for(let i=1; i<=total_seasons; i++){
                let current_season = "season" + String(i);
                newHTML+='<div class="tab-pane fade" id="'+current_season+'" role="tabpanel" aria-labelledby="'+current_season+'-tab">';
                newHTML=="<br>"
                
                episodesForSeason = all_episodes[current_season];
                console.log("Episodes For Season");
                console.log(episodesForSeason);
                for(let value in episodesForSeason){
                    console.log("Individual Episode");
                    let episode = episodesForSeason[value];
                    console.log(episode);
                    newHTML+='<p draggable="true" ondragstart="drag(event)" data-date="'+episode["released"]+'">S'+episode["seasonNumber"]+'E'+episode["episodeNumber"]+' - '+episode["title"] +' : ['+episode["released"]+']</p>';
                    //newHTML+='<p>S1 E1 - [Title] : [Release Date]</p>';
                }

                newHTML+='</div>';
            }

            newHTML+='</div>';


            //remove the spinner
            seriesSearchLoadingDisplay.style.display = "none";

            //update the html to show episode details
            let options = document.getElementById("episodeSearchResult");
            options.innerHTML = newHTML;

            //set season 1 to be the active tab
            document.getElementById("season1-tab").classList.add("active");
            document.getElementById("season1").classList.add("show");
            document.getElementById("season1").classList.add("active");
        }

    </script>
   --> 
</body>

</html>